<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <h2>Login</h2>
        <form id="loginForm" action="/login" method="POST">
          <div class="input-group">
            <label for="loginEmail">Email</label>
            <input name="email" type="email" id="loginEmail" required />
          </div>
          <div class="input-group">
            <label for="loginPassword">Password</label>
            <input
              name="password"
              type="password"
              id="loginPassword"
              required
            />
          </div>
          <% if(typeof error != 'undefined') { %>

          <div><%= error %></div>
          <% } %>
          <button type="submit">Login</button>
          <p>Don't have an account? <a href="register">Register here</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
